<!DOCTYPE html>
<html>
	<head>
		<title>Deployer N&D - v1.0.0</title>
		<meta charset='UTF-8'>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-theme.min.css" >
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"></script>
		<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
		<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
		<script language='javascript' src='js/app/app.js'></script>
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body ng-app="DeployerND">
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="#">Deployer N&D</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			  <ul class="nav navbar-nav">
				<li class="active"><a href="#">Home<span class="sr-only">(current)</span></a></li>
				<li><a href="#">Job</a></li>
			  </ul>
			</div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
		<div class='container'>
			<div class='row' ng-show="!isLogged" ng-controller="LoginController">
				<div class='col-md-4'></div>
				<div id='log' class='col-md-4'>
					  <div class="form-group">
						<label for="exampleInputEmail1">Email address</label>
						<input type="text" ng-model="username" class="form-control" id="exampleInputEmail1" placeholder="Email">
					  </div>
					  <div class="form-group">
						<label for="exampleInputPassword1">Password</label>
						<input type="password" ng-model="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
					  </div>
					  <button ng-click="login()" class="btn btn-default">Login</button>
				</div>
				<div class='col-md-4'></div>
			</div>
			<div ng-controller="JobController">
				<div class='row' ng-hide="!isLogged">
					<div class='col-md-3'></div>
					<div class='col-md-6' ng-show='!isSingle'>
						<div class="table-responsive">
						  <table class="table">
							<tr>
								<th>Nome Job</th>
								<th>Esegui</th>
							</tr>
							<tr ng-repeat="job in jobs">
								<td>{{job.title}}</td>
								<td><div ng-click="esegui(job.id)" class='ese'></div></td>						
							</tr>
						  </table>
						</div>
					</div>
					<div class='col-md-6' ng-hide='!isSingle'>
						<div class="table-responsive">
						  <table class="table">
							 <tr>
								<th>Titolo Job</th>
								<th>Nome Job</th>
								<th>Id</th>
							 </tr>
							 <tr>
								<td>{{jobb.title}}</td>
								<td>{{jobb.name}}</td>
								<td>{{jobb.id}}</td>
							 </th>
						  </table>
						  <div class='col-md-12'ng-hide='!isSingle'>
							<button ng-click="play(jobb.id)" class='btn btn-primary'>Play</button>
						  </div>
						</div>
						
					</div>
					<div class='col-md-3'></div>
				</div>
				<div class='row' ng-hide="!isLogged">
						<div id='logger' class='col-md-12 table-responsive' ng-hide='!isSingle'>
						</div>
				</div>
			</div>
		</div>
	</body>
</html>