html,body{
	height:100vh;
background: #cedce7;
background: -moz-linear-gradient(top, #cedce7 0%, #596a72 100%);
background: -webkit-linear-gradient(top, #cedce7 0%,#596a72 100%);
background: linear-gradient(to bottom, #cedce7 0%,#596a72 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 );
}
table{background-color:white;}
.navbar{box-shadow:5px 7px 5px #aaa;}
#log{border:1px solid #aaa;border-radius:15px; box-shadow:5px 7px 5px #888;background-color:white;padding:20px;}
.table-responsive{border:1px solid #aaa;border-radius:15px; box-shadow:5px 7px 5px #888;background-color:white;padding:20px;}
.ese{background-image: url('../img/btn_esegui.png');width:32px;height:32px;background-size:100%;cursor:pointer;}